.pagina{
 
min-height:100vh;
 
margin-left:200px;
 
padding:35px;
 
background:#fdebf3;
 
font-family:Arial,sans-serif;
 
}
 
 
 
.titulo h1{
 
color:#4c2868;
 
margin:0;
 
}
 
 
.titulo p{
 
color:#806b85;
 
}
 
 
 
.cards{
 
margin-top:30px;
 
display:grid;
 
grid-template-columns:repeat(3,1fr);
 
gap:20px;
 
}
 
 
 
.card{
 
background:white;
 
padding:25px;
 
border-radius:15px;
 
text-align:center;
 
transition:.3s;
 
}
 
 
 
.card:hover{
 
transform:translateY(-5px);
 
}
 
 
 
.icone{
 
width:55px;
 
height:55px;
 
margin:auto;
 
display:flex;
 
justify-content:center;
 
align-items:center;
 
border-radius:50%;
 
background:#eee1f5;
 
color:#925ab4;
 
font-size:24px;
 
}
 
 
 
.card h2{
 
color:#4c2868;
 
font-size:18px;
 
}
 
 
 
.card p{
 
color:#756276;
 
font-size:14px;
 
}
 
 
 
.card button,
.urgente button{
 
border:0;
 
padding:10px 25px;
 
border-radius:20px;
 
background:#a46bd3;
 
color:white;
 
cursor:pointer;
 
transition:.2s;
 
}
 
 
 
.card button:hover,
.urgente button:hover{
 
opacity:.8;
 
}
 
 
 
.urgente{
 
margin-top:30px;
 
background:#a46bd3;
 
color:white;
 
padding:25px;
 
border-radius:15px;
 
display:flex;
 
align-items:center;
 
gap:20px;
 
}
 
 
 
.urgente > i{
 
font-size:40px;
 
}
 
 
 
.urgente div{
 
flex:1;
 
}
 
 
 
.urgente h2{
 
margin:0;
 
}
 
 
 
.urgente p{
 
margin:5px 0;
 
}
 
 
 
.urgente button{
 
background:white;
 
color:#8050a5;
 
}
 
 
 
@media(max-width:900px){
 
.pagina{
 
  margin-left:0;
 
}
 
 
.cards{
 
  grid-template-columns:1fr;
 
}
 
 
.urgente{
 
  flex-direction:column;
 
  text-align:center;
 
}
 
}