.pagina {
min-height:100vh;
margin-left:200px;
background:#f9e9f0;
font-family:Arial, sans-serif;
}
 
 
.topo {
height:80px;
background:white;
border-bottom:1px solid #ead9e2;
padding:0 35px;
 
display:flex;
justify-content:space-between;
align-items:center;
}
 
 
.topo span {
color:#9b72cf;
font-size:12px;
}
 
 
.topo h1 {
margin:3px 0;
color:#43216c;
font-size:24px;
}
 
 
.usuario {
display:flex;
align-items:center;
gap:15px;
}
 
 
.usuario i {
width:40px;
height:40px;
 
display:flex;
align-items:center;
justify-content:center;
 
border-radius:50%;
background:#eadcf2;
color:#704092;
}
 
 
.usuario button {
border:0;
background:#f8edf3;
padding:10px;
border-radius:8px;
cursor:pointer;
color:#704092;
}
 
 
.conteudo {
padding:35px;
}
 
 
.titulo h2 {
margin:0;
color:#43216c;
}
 
 
.titulo p {
color:#92739f;
font-size:14px;
}
 
 
.cards {
margin-top:25px;
 
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}
 
 
.card {
background:white;
padding:20px;
 
display:flex;
align-items:center;
gap:15px;
 
border-radius:15px;
 
transition:.3s;
}
 
 
.card:hover {
transform:translateY(-5px);
}
 
 
.icone {
width:50px;
height:50px;
 
display:flex;
align-items:center;
justify-content:center;
 
border-radius:12px;
 
background:#eee1f5;
color:#925ab4;
 
font-size:22px;
}
 
 
.card p {
margin:0;
color:#92739f;
font-size:12px;
}
 
 
.card strong {
display:block;
color:#43216c;
font-size:26px;
}
 
 
.card small {
color:#a184ae;
}
 
 
.resumo {
 
margin-top:30px;
 
background:white;
 
padding:25px;
 
border-radius:15px;
}
 
 
.resumo h2 {
color:#43216c;
font-size:18px;
}
 
 
.numeros {
 
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
 
}
 
 
.numeros div {
 
padding:15px;
 
border-right:1px solid #eee;
 
}
 
 
.numeros span {
color:#92739f;
font-size:13px;
}
 
 
.numeros strong {
 
display:block;
 
margin-top:8px;
 
color:#43216c;
 
font-size:25px;
 
}
 
 
@media(max-width:900px){
 
.cards {
  grid-template-columns:repeat(2,1fr);
}
 
}
 
 
@media(max-width:600px){
 
.pagina {
  margin-left:0;
}
 
.conteudo {
  padding:20px;
}
 
.cards,
.numeros {
  grid-template-columns:1fr;
}
 
}