.pagina{
 
min-height:100vh;
 
margin-left:200px;
 
padding:35px;
 
background:#f9e9f0;
 
font-family:Arial,sans-serif;
 
}
 
 
 
.titulo h1{
 
margin:0;
 
color:#43216c;
 
}
 
 
.titulo p{
 
color:#8757a5;
 
font-size:14px;
 
}
 
 
 
.cards{
 
margin-top:30px;
 
display:grid;
 
grid-template-columns:repeat(3,1fr);
 
gap:20px;
 
}
 
 
 
.card{
 
background:white;
 
border-radius:15px;
 
overflow:hidden;
 
transition:.3s;
 
}
 
 
 
.card:hover{
 
transform:translateY(-5px);
 
}
 
 
 
.imagem{
 
height:150px;
 
position:relative;
 
}
 
 
 
.imagem img{
 
width:100%;
 
height:100%;
 
object-fit:cover;
 
}
 
 
 
.imagem span{
 
position:absolute;
 
top:10px;
 
left:10px;
 
background:white;
 
color:#a467c1;
 
padding:5px 12px;
 
border-radius:20px;
 
font-size:12px;
 
}
 
 
 
.conteudo{
 
padding:20px;
 
}
 
 
 
.conteudo h2{
 
color:#48226e;
 
font-size:18px;
 
}
 
 
 
.conteudo p{
 
color:#806092;
 
font-size:14px;
 
}
 
 
 
.progressoTexto{
 
display:flex;
 
justify-content:space-between;
 
color:#9665b0;
 
font-size:12px;
 
}
 
 
 
.barra{
 
height:7px;
 
background:#eee5f1;
 
border-radius:10px;
 
margin:8px 0 15px;
 
}
 
 
 
.valor{
 
height:100%;
 
background:#a768ca;
 
border-radius:10px;
 
}
 
 
 
button{
 
width:100%;
 
border:0;
 
padding:10px;
 
border-radius:20px;
 
background:#c38edc;
 
color:white;
 
cursor:pointer;
 
}
 
 
 
button:hover{
 
background:#ad73ca;
 
}
 
 
 
@media(max-width:900px){
 
.pagina{
 
  margin-left:0;
 
}
 
 
.cards{
 
  grid-template-columns:repeat(2,1fr);
 
}
 
}
 
 
 
@media(max-width:600px){
 
.cards{
 
  grid-template-columns:1fr;
 
}
 
}