.container{
 padding:30px;
 color:#4b3565;
}


.topo{
 display:flex;
 justify-content:space-between;
 align-items:center;
 margin-bottom:25px;
}


.topo span{
 font-size:14px;
}


.topo h1{
 margin:5px 0;
}


.topo p{
 margin:0;
 opacity:.7;
}


.topo button{
 border:none;
 background:#b97be0;
 color:white;
 padding:12px 20px;
 border-radius:20px;
 cursor:pointer;
 transition:.3s;
}


.topo button:hover{
 transform:scale(1.05);
}



.area{
 display:grid;
 grid-template-columns:2fr 1fr;
 gap:20px;
}



.tabela,
.lojas{
 background:#f8eaf2;
 padding:20px;
 border-radius:20px;
}



.linhaTitulo,
.linha{
 display:grid;
 grid-template-columns:1.2fr 1.5fr 1fr 1fr 1fr;
 padding:15px 10px;
 align-items:center;
}



.linhaTitulo{
 font-weight:bold;
}


.linha{
 border-top:1px solid #ead3df;
 transition:.3s;
}


.linha:hover{
 transform:translateY(-3px);
}



.linha small{
 display:block;
 opacity:.6;
}



.comissao{
 color:#35a65a;
 font-weight:bold;
}



.concluido,
.processando,
.cancelado{
 padding:5px 12px;
 border-radius:15px;
 text-align:center;
 font-size:12px;
}


.concluido{
 background:#d8f5df;
}


.processando{
 background:#eee0ff;
}


.cancelado{
 background:#ffd7d7;
}





.lateral{
 display:flex;
 flex-direction:column;
 gap:20px;
}



.cardGrande{
 background:#c68be5;
 color:white;
 padding:25px;
 border-radius:20px;
 transition:.3s;
}


.cardGrande:hover{
 transform:translateY(-5px);
}


.cardGrande h2{
 font-size:30px;
 margin:15px 0;
}




.lojas div{
 display:flex;
 justify-content:space-between;
 padding:15px 0;
 border-bottom:1px solid #ead3df;
}





@media(max-width:900px){

 .area{
  grid-template-columns:1fr;
 }


 .linhaTitulo{
  display:none;
 }


 .linha{
  grid-template-columns:1fr;
  gap:10px;
 }


 .topo{
  flex-direction:column;
  align-items:flex-start;
  gap:15px;
 }

}