.pagina{

 min-height:100vh;

 margin-left:230px;

 padding:30px;

 background:#f9edf3;

 box-sizing:border-box;

}



.cabecalho span{

 color:#a768ca;

 font-size:13px;

}



.cabecalho h1{

 color:#43216c;

 margin:5px 0;

}



.cabecalho p{

 color:#806b85;

 font-size:14px;

}





.cards{

 display:grid;

 grid-template-columns:repeat(4,1fr);

 gap:20px;

 margin-top:30px;

}



.card{

 background:white;

 padding:20px;

 border-radius:15px;

 display:flex;

 align-items:center;

 gap:15px;

 border:1px solid #ead9e2;

 transition:.2s;

}



.card:hover{

 transform:translateY(-4px);

 box-shadow:0 5px 15px #0002;

}



.icone{

 width:50px;

 height:50px;

 display:flex;

 align-items:center;

 justify-content:center;

 border-radius:12px;

 background:#eadcf2;

 color:#a768ca;

 font-size:22px;

}



.card span{

 color:#806b85;

 font-size:12px;

}



.card h2{

 margin:5px 0;

 color:#43216c;

}



.card small{

 color:#35915c;

}




.grafico{

 margin-top:30px;

 background:white;

 padding:25px;

 border-radius:15px;

 border:1px solid #ead9e2;

}



.grafico h2{

 color:#43216c;

 font-size:18px;

}




.linha{

 display:flex;

 flex-direction:column;

 gap:20px;

}



.linha span{

 color:#806b85;

 font-size:13px;

}



.barra{

 height:12px;

 background:#f1e5f5;

 border-radius:20px;

 margin-top:8px;

 overflow:hidden;

}



.barra div{

 height:100%;

 background:#a768ca;

 border-radius:20px;

}




@media(max-width:1000px){

 .pagina{

 margin-left:0;

 }


 .cards{

 grid-template-columns:repeat(2,1fr);

 }

}



@media(max-width:600px){


 .cards{

 grid-template-columns:1fr;

 }


 .pagina{

 padding:20px;

 }


}