.pagina{
 
min-height:100vh;
 
margin-left:200px;
 
padding:35px;
 
background:#fdebf3;
 
font-family:Arial,sans-serif;
 
}
 
 
 
.titulo h1{
 
color:#4c2868;
 
margin:0;
 
}
 
 
 
.titulo p{
 
color:#806b85;
 
}
 
 
 
.subtitulo{
 
margin-top:30px;
 
color:#4c2868;
 
}
 
 
 
.cards{
 
display:grid;
 
grid-template-columns:repeat(2,1fr);
 
gap:25px;
 
margin-top:20px;
 
}
 
 
 
.card{
 
background:white;
 
padding:25px;
 
border-radius:15px;
 
text-align:center;
 
transition:.3s;
 
}
 
 
 
.card:hover{
 
transform:translateY(-5px);
 
}
 
 
 
.card img{
 
width:90px;
 
height:90px;
 
border-radius:50%;
 
object-fit:cover;
 
border:3px solid #d9a6ee;
 
}
 
 
 
.card h3{
 
color:#57405f;
 
}
 
 
 
.card p{
 
color:#8f7895;
 
font-size:14px;
 
}
 
 
 
.card span{
 
display:inline-block;
 
background:#f5e6fa;
 
color:#9366b0;
 
padding:8px 15px;
 
border-radius:20px;
 
font-size:12px;
 
margin:10px;
 
}
 
 
 
button{
 
width:100%;
 
padding:12px;
 
border:0;
 
border-radius:20px;
 
background:#a46bd3;
 
color:white;
 
cursor:pointer;
 
transition:.2s;
 
}
 
 
 
button:hover{
 
background:#9258c4;
 
}
 
 
 
@media(max-width:800px){
 
.pagina{
 
  margin-left:0;
 
}
 
 
.cards{
 
  grid-template-columns:1fr;
 
}
 
}