.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  background-color: #F8E8EE;
  border-right: 1px solid #E2CAD2;
  z-index: 1000;
}

.logo {
  height: 110px;

  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;
  padding: 0 15px;

  border-bottom: 1px solid #E8C8D5;
}

.logoIcon {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}

.logoIcon img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.logoTexto {
  display: flex;
  flex-direction: column;

  font-size: 13px;
  font-weight: bold;
  color: #40224F;
}

.logoTexto span {
  color: #9B72CF;
}

.menu {
  display: flex;
  flex-direction: column;

  padding: 15px 12px;
  gap: 8px;
}

.menu a {
  display: block;

  padding: 10px 15px;

  color: #6F4695;
  text-decoration: none;
  font-size: 14px;

  transition: 0.2s;
}

.menu a:hover {
  background-color: #9B72CF;
  color: white;
  padding: 10px 10px;
  border-radius: 50px;
}

.rodapeSidebar {
  position: absolute;
  bottom: 0;

  width: 100%;

  border-top: 1px solid #E2CAD2;
  padding: 12px;

  box-sizing: border-box;
}

.botaoSair {
  display: flex;
  align-items: center;
  gap: 8px;

  width: 100%;

  border: none;
  background: transparent;

  color: #E96778;
  font-size: 13px;

  cursor: pointer;
  padding: 5px 0 15px 0;
}

.usuario {
  display: flex;
  align-items: center;
  gap: 10px;

  padding-top: 10px;
}

.fotoUsuario {
  width: 32px;
  height: 32px;

  border-radius: 50%;
  object-fit: cover;

  border: 1px solid #9B72CF;
}

.dadosUsuario {
  display: flex;
  flex-direction: column;
}

.nomeUsuario {
  color: #4A2D6B;
  font-size: 11px;
  font-weight: bold;
}

.tipoUsuario {
  color: #9B72CF;
  font-size: 9px;
  margin-top: 2px;
}


.hamburguer {
  display: none;
}



@media (max-width: 600px) {

  .hamburguer {
    display: flex;

    position: fixed;

    top: 15px;
    left: 15px;

    width: 45px;
    height: 45px;

    align-items: center;
    justify-content: center;

    background-color: #F8E8EE;
    border: 1px solid #E2CAD2;
    border-radius: 10px;

    font-size: 30px;
    color: #4A2D6B;

    cursor: pointer;

    z-index: 1100;
  }

  .sidebar {
    position: fixed;

    top: 0;
    left: -300px;

    width: 280px;
    height: 100vh;

    transition: left 0.3s ease;

    z-index: 1000;

    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.15);
  }

  .sidebar.aberto {
    left: 0;
  }

}


@media (max-width: 350px) {

  .sidebar {
    width: 250px;
  }

  .logoIcon {
    width: 65px;
    height: 65px;
  }

  .logoIcon img {
    width: 65px;
    height: 65px;
  }

}
